smd_env/
*.pyc
*.log
*.txt
*.conll
*.pdf
*.json
*.yaml
ml/data
*.venv
ml/notebooks/pdf_metallurgy_corpus_simple.csv

ml/notebooks/data
ml/notebooks/ner_matsci_checkpoint
ml/notebooks/ner_matsci_final
ml/knowledge_graph.json

backend/src/model